!!! 5
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

= partial :head

%body{:class => current_page.data.page_class, :id => current_page.data.page_id}

  #page

    #page-wrap

      #page-content
        = yield_content :before_content
        = yield
        = yield_content :after_content

    #page-footer
      .container
        %p A #{link_to "sticky footer", "/sticky.html"} of variable height.
        %p= lorem.paragraphs 2

</html>
