!!! 5
<!--[if lt IE 7]> <html lang='en' class='no-js ie6 lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]> <html lang='en' class='no-js ie7 lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]> <html lang='en' class='no-js ie8 lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html lang='en' class='no-js'> <!--<![endif]-->

%head
  -# Reference: h5bp.com/d/head-Tips
  = dev_header
  %meta(charset='utf-8')
  %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
  %meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  = yield_content :meta

  %title= data.page.title
  %meta(name='description' content="#{data.page.description}")

  = stylesheet_link_tag 'application'
  = yield_content :stylesheets

  -# Add scripts as an page variable (array)
  = modernizr_scripts

  - if ! development?
    = google_analytics

%body{:class => data.page.page_class, :id => data.page.page_id}

  = yield_content :before_content

  / *** BEGIN CONTENT ***

  #page-wrap
    = yield

    #footer-push

  %footer#footer

  / *** END CONTENT ***

  = yield_content :after_content

</html>
