-# Reference: h5bp.com/d/head-Tips
%head
  %meta(charset='utf-8')
  %meta(content='IE=edge' http-equiv='X-UA-Compatible')

  %title= current_page.data.title || data.app.default_title
  %meta(name='description' content='#{current_page.data.description || data.app.default_description}')

  %meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  - if content_for? :meta
    = yield_content :meta

  = stylesheet_link_tag :application
  - if content_for? :stylesheets
    = yield_content :stylesheets

  = modernizr_scripts

  - if development?
    %meta(name='robots' content='noindex, nofollow')
  - else
    = partial :analytics
