---
title: Meta title!
description: Meta description!
page_class: index-page
---

%h1(style='padding:100px 0;text-align:center;') Aloha from hell, bitches!

-#
  TAGS
  = link_to 'The Link', 'the/link/path', :class => 'nifty'
  = image_tag 'puppies.jpeg', :alt => 'Fido and Bella!'
  = form_tag '/update', :method => 'POST' do ... end

  LOREM
  = lorem.words 10
  = lorem.paragraph
  = lorem.image '300x400'

  PARTIALS
  = partial 'has-page-locals'
  = partial 'has-custom-locals', :locals => {:foo => 'bar'}

  MORE
  http://middlemanapp.com/templates/helpers/
  http://www.padrinorb.com/api/Padrino/Helpers.html
