---
title: Meta title!
description: Meta description!
page_id: index-view
javascripts: ['jquery', 'application']
---

.container
  %h1(style='margin:0;padding:50px 0 0;text-align:center;') Aloha world!

  - 5.times do |i|
    = content_tag "h#{i+1}".to_sym, "Heading #{i+1}"
    %p= lorem.paragraph
    - case i
      - when 0
        %p Some text with an <a href='#'>inline link</a>.
        %p Some text with a <a href='#' class='button'>button</a> in it.
      - when 1
        %ul
          - 3.times do
            %li= lorem.sentence
      - when 2
        = code_block "javascript" do
          :plain
            var map;
            function initialize() {
              var mapOptions = {
                zoom: 8,
                center: new google.maps.LatLng(-34.397, 150.644),
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
      - when 3
        %blockquote= lorem.paragraph
      - when 4
        %div(style="background: #eee; padding: 12px;")
          %h5 An example to show auto-adjusting vertical rhythm within padded blocks.
          %p= lorem.sentence
    %p= lorem.paragraph

-#
  DATA
  = data.page.local_var
  = data.app.global_var

  RUBY
  - content_for :meta do ... end
  - development?
  - build?
  - index?

  TAGS
  = link_to 'The Link', 'the/link/path', :class => 'nifty'
  = nav_link 'The Link', 'the/link/path'
  = image_tag 'puppies.jpg', :alt => 'Fido and Bella!'
  = form_tag '/update', :method => 'POST' do ... end
  = code_block "ruby" do ... end

  PARTIALS
  = partial 'use-page-locals'
  = partial 'use-custom-locals', :locals => {:foo => 'bar'}

  LOREM
  = lorem.words 10
  = lorem.paragraph
  = lorem.image '300x400'

  MORE
  http://middlemanapp.com/templates/helpers/
  http://www.padrinorb.com/api/Padrino/Helpers.html
