---
title: Style Guide
page_id: style-guide
---

- content_for :meta do
  %meta(name='robots' content='noindex, nofollow')

- content_for :stylesheets do
  :css
    .container {
      border-bottom: 1px solid #ccc;
      padding: 40px;
    }

%section.container
  %header.header
    %h1 Common Tags

  %h1 Heading 1
  %p= lorem.sentences 3
  %p Text with an #{link_to "inline link", "/sticky.html"} (sticky footer demo).
  %p Text with a #{link_to "button", "#", :class => "button"} in it.

  %h2 Heading 2
  %p= lorem.sentences 3
  %ul
    - 3.times do
      %li= lorem.sentence
  %p= lorem.sentences 3

  %h3 Heading 3
  %p= lorem.sentences 3
  %ol
    - 3.times do
      %li= lorem.sentence
  %p= lorem.sentences 3

  %h4 Heading 4
  %p= lorem.sentences 3
  %blockquote= lorem.paragraph

  %h5 Heading 5
  %p= lorem.sentences 3

%section.container
  %header.header
    %h1 Styles

  %h2 Retina Background
  %p.retina-background

  %h2 Retina Sprites
  %p.retina-sprites
    .retina-one
    .retina-two

  %h2 Placeholder Background Noise
  %p.noise-png

%section.container
  %header.header
    %h1 Modules

  %h2 Code Block
  %p= lorem.sentences 3
  = code_block "javascript" do
    :plain
      var map;
      function initialize() {
        var mapOptions = {
          zoom: 8,
          center: new google.maps.LatLng(-34.397, 150.644),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

  %h2 Table
  %p= lorem.sentences 3
  %table
    %thead
      %tr
        %th The
        %th Table
        %th Header
    -# <tfoot> above <tbody> for performance
    %tfoot
      %tr
        %td The
        %td Table
        %td Footer
    %tbody
      %tr
        %td Cell
        %td Cell
        %td Cell
      %tr
        %td Cell
        %td Cell
        %td Cell

%section.container
  %header.header
    %h1 Vertical Rhythm

  %div(style="background: #eee; padding: 12px;")
    %p An example to show auto-adjusting vertical rhythm within padded blocks.
    %p= lorem.sentence
