---
title: Style Guide
page_id: styleguide
---

- content_for :meta do
  %meta(name='robots' content='noindex, nofollow')
  
- content_for :stylesheets do
  = stylesheet_link_tag :styleguide

%section.container.container-styleguide
  %h1 Base

  %h2 Colors
  .colors-styleguide
    - %w|black gray-void gray-shale gray-steel gray-silver gray-rain gray-smoke gray-fog white|.each do |color|
      %div(class="color #{color}") .#{color}

  %h2 Grid <small>(width, position)</small>
  .grid.grid-styleguide
    .grid-row
      - 12.times do |i|
        %div(class="grid-column grid-1-#{i}") 1, #{i}
    .grid-row
      - %w|0 3 6 9|.each do |i|
        %div(class="grid-column grid-3-#{i}") 3, #{i}
    .grid-row
      .grid-column.grid-2-1 2, 1
      .grid-column.grid-5-4 5, 4
      .grid-column.grid-2-10 2, 10

%section.container.container-styleguide
  %h1 Common Tags

  %h1 Heading 1
  %p= lorem.sentences 3
  %p Text with an #{link_to "inline link"}.
  %p Text with a #{link_to "button", "#", :class => "button"} in it.

  %h2 Heading 2
  %p= lorem.sentences 3
  %ul
    - 3.times do
      %li= lorem.sentence
  %p= lorem.sentences 3

  %h3 Heading 3
  %p= lorem.sentences 3
  %ol
    - 3.times do
      %li= lorem.sentence
  %p= lorem.sentences 3

  %h4 Heading 4
  %p= lorem.sentences 3
  %blockquote= lorem.paragraph
  %p= lorem.sentences 3

%section.container.container-styleguide
  %h1 Elements

  %h2 Button
  .block
    %a.button(href="#") Button
  .block
    %a.button.button_large(href="#") Large Button
  .block.button-group
    %a.button(href="#") Left
    %a.button(href="#") Middle
    %a.button(href="#") Right

%section.container.container-styleguide
  %h1 Modules

  %h2 Form Elements
  %p ...

  %h2 Table
  %p= lorem.sentences 3
  %table.table
    %thead
      %tr
        %th The
        %th Table
        %th Header
    -# <tfoot> above <tbody> for performance
    %tfoot
      %tr
        %td The
        %td Table
        %td Footer
    %tbody
      %tr
        %td Cell
        %td Cell
        %td Cell
      %tr
        %td Cell
        %td Cell
        %td Cell

  %h2 Code Block
  %p= lorem.sentences 3
  = code_block "javascript" do
    :plain
      var map;
      function initialize() {
        var mapOptions = {
          zoom: 8,
          center: new google.maps.LatLng(-34.397, 150.644),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

%section.container.container-styleguide
  %header.header
    %h1 Helpers

  %h2 Retina Background
  .retina-background

  %h2 Retina Sprites
  .retina-sprites
    .sprite.puppy-run
    .sprite.puppy-yawn
    .sprite.puppy-sleep

  %h2 Placeholder Background Noise
  %p.noise-png

%section.container.container-styleguide
  %header.header
    %h1 Vertical Rhythm

  .block.block-styleguide
    %p An example to show auto-adjusting vertical rhythm within padded blocks.
    %p= lorem.sentence
