---
title: Style Guide
page_id: style-guide
---

- content_for :meta do
  %meta(name='robots' content='noindex, nofollow')

- content_for :stylesheets do
  :css
    .container {
      border-bottom: 1px solid #ccc;
      padding: 40px;
    }

    .grid,
    .grid-column {
      background: rgba(255, 0, 0, .05);
    }

    .grid-row { margin: 10px 0; }

    .grid-column {
      height: 40px;
      line-height: 40px;
      text-align: center;
    }

%section.container
  %header.header
    %h1 Base

  %h2 Colors
  %h2 Sizes
  %h2 Grid

  .grid
    .grid-row
      .grid-column.grid-column-1-of-12 1
      .grid-column.grid-column-1-of-12 2
      .grid-column.grid-column-1-of-12 3
      .grid-column.grid-column-1-of-12 4
      .grid-column.grid-column-1-of-12 5
      .grid-column.grid-column-1-of-12 6
      .grid-column.grid-column-1-of-12 7
      .grid-column.grid-column-1-of-12 8
      .grid-column.grid-column-1-of-12 9
      .grid-column.grid-column-1-of-12 10
      .grid-column.grid-column-1-of-12 11
      .grid-column.grid-column-1-of-12 12
    .grid-row
      .grid-column.grid-column-3-of-12 1
      .grid-column.grid-column-3-of-12 2
      .grid-column.grid-column-3-of-12 3
      .grid-column.grid-column-3-of-12 4

%section.container
  %header.header
    %h1 Common Tags

  %h1 Heading 1
  %p= lorem.sentences 3
  %p Text with an #{link_to "inline link"}.
  %p Text with a #{link_to "button", "#", :class => "button"} in it.

  %h2 Heading 2
  %p= lorem.sentences 3
  %ul
    - 3.times do
      %li= lorem.sentence
  %p= lorem.sentences 3

  %h3 Heading 3
  %p= lorem.sentences 3
  %ol
    - 3.times do
      %li= lorem.sentence
  %p= lorem.sentences 3

  %h4 Heading 4
  %p= lorem.sentences 3
  %blockquote= lorem.paragraph

  %h5 Heading 5
  %p= lorem.sentences 3

%section.container
  %header.header
    %h1 Modules

  %h2 Header
  %h2 Group
  %h2 Button
  %h2 Form Elements
  %h2 Navs

  %h2 Code Block
  %p= lorem.sentences 3
  = code_block "javascript" do
    :plain
      var map;
      function initialize() {
        var mapOptions = {
          zoom: 8,
          center: new google.maps.LatLng(-34.397, 150.644),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

  %h2 Table
  %p= lorem.sentences 3
  %table.table
    %thead
      %tr
        %th The
        %th Table
        %th Header
    -# <tfoot> above <tbody> for performance
    %tfoot
      %tr
        %td The
        %td Table
        %td Footer
    %tbody
      %tr
        %td Cell
        %td Cell
        %td Cell
      %tr
        %td Cell
        %td Cell
        %td Cell

%section.container
  %header.header
    %h1 Utilities

  %h2 Retina Background
  .retina-background

  %h2 Retina Sprites
  .retina-sprites
    .sprite.puppy-run
    .sprite.puppy-yawn
    .sprite.puppy-sleep

  %h2 Jpeg Sprites
  .jpeg-sprites
    .sprite.puppy_jpeg-running
    .sprite.puppy_jpeg-yawning
    .sprite.puppy_jpeg-sleeping

  %h2 Placeholder Background Noise
  %p.noise-png

%section.container
  %header.header
    %h1 Vertical Rhythm

  %div(style="background: #eee; padding: 12px;")
    %p An example to show auto-adjusting vertical rhythm within padded blocks.
    %p= lorem.sentence
