.section-grid
  .c12-s3
    %h1 Heading 1
    %p Text with an #{link_to "inline link"} in it.
    %p Text with a #{link_to "button", "#", :class => "button"} in it.
    %p This is <em>emphasized</em> text.
    %p This is <strong>strong</strong> text.
    %p This is super<sup>[1]</sup>. This is not<sub>[2]</sub>.
    %p This is <small>small</small> text.
    %p Here's a <code>&lt;code&gt;</code> tag.

  .c12-s3
    %h2 Heading 2
    %p= lorem.sentence
    %ul
      - 3.times do
        %li= lorem.sentence
    %p= lorem.sentence

  .c12-s3
    %h3 Heading 3
    %p= lorem.sentence
    %ol
      - 3.times do
        %li= lorem.sentence
    %p= lorem.sentence

  .c12-s3
    %h4 Heading 4
    %p= lorem.sentence
    %blockquote= lorem.sentence
    .block.block-styleguide
      %p This <code>.block</code> respects the vertical rhythm.
    %p= lorem.sentence
